<footer class="page-footer blue-grey darken-4" id="page-footer">
  <div class="footer-copyright">
    <div class="container">
      © 2020 Joseph Mawa
      <a class="grey-text text-lighten-4 right" href="#!"
        ><i class="fa fa-twitter" aria-hidden="true"></i
      ></a>
      <a class="grey-text text-lighten-4 right" href="#!"
        ><i class="fa fa-facebook-official" aria-hidden="true"></i>
      </a>
      <a class="grey-text text-lighten-4 right" href="#!"
        ><i class="fa fa-free-code-camp" aria-hidden="true"></i>
      </a>
    </div>
  </div>
</footer>
