<footer class="page-footer blue-grey darken-4" id="page-footer">
  <div class="footer-copyright">
    <div class="container">
      © 2020 Joseph Mawa
      <a class="grey-text text-lighten-4 right" href="#!">Social Media</a>
    </div>
  </div>
</footer>
