<!DOCTYPE html>
<html lang="en-US">
  <head>
    <%- include("../partials/head") %>
  </head>
  <body>
    <%- include("../partials/header") %>
    <main class="container">
      <p>My favorite twitter handles</p>
      <ul>
        <% favoriteTwitterHandles.forEach(handle => { %>
        <li>
          <a href="#"> <%= handle %> </a>
        </li>
        <% }) %>
      </ul>
    </main>
    <%- include("../partials/footer") %>
  </body>
</html>
