body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #386774;
}

main {
  flex: 1 0 auto;
}
#page-footer{
  padding-top: 0px; /* Remove padding on top */
}
a{
  padding: 0 1em;
}
.btn-block {
  width: 100%;
}
.center-align{
  font-size: 2em;
}
img{
  border-radius: 50%;
}
.over-flow{
  height: 70vh;
  overflow-y: scroll;
}